.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    display: flex;
    justify-content: left;
    border-radius: 100%;
    border: 5px solid;
    width: 300px;
    height: 300px;
}

.division{
    display: flex;
    width: 150px;
    height: 300px;
}