.border{
    /* display: flex;
    justify-content: left; */
    border-radius: 100%;
    border: 5px solid;
    width: 300px;
    height: 300px;
    margin: auto;
}

.hand{
    border: 2px solid;
    height: 0;
    box-sizing: border-box;
    margin: auto;
}

.hour{
    width: 75px;
    position: absolute;
    margin: 148px 0 0 75px;
    transform: rotate(170deg);
    transform-origin: 100%;
}

.minute{
    width: 100px;
    position: absolute;
    margin: 148px 0 0 50px;
    transform: rotate(70deg);
    transform-origin: 100%;
}

.second{
    width: 125px;
    position: absolute;
    border: 1px solid red;
    margin: 148px 0 0 25px;
    transform: rotate(10deg);
    transform-origin: 100%; 
}